body{
    font-family: 'Roboto', sans-serif}
.ban-top{
    max-width: 100%;
    height: auto;
}
h3{
    font-size: 6.75rem;
}
p{
    text-align: justify;
    text-indent: 25px;
    color: black;
}
.carousel-logo-sibadi, .fakul{
    display: none;
}
header .nav-item{
    text-transform: uppercase;
}
#navbarText {
    width: 100%;
}
.nav-link-horizontal{
    color: black;
}
.nav-link-horizontal:hover{
    color: #0B78B8;
}
.navbar-nav {
    display: flex;
    align-items: center;
    flex: 1 0;
}
a:hover {text-decoration: none;}
.navbar-facultet .navbar-toggler{
    float: right;
    background-color: #fff;  
}
.navbar-toggler-icon{
    width: 20px;
    height: 20px;
}
.navbar-nav li{
    text-align: center;
    flex: 1 0; 
}
#it-facultet{
    width: 210px;   
}
.line-up{
    border-left: 2px solid white;
    height: 35px;
}
.my-nav{background-color: #2675a6 !important;}
#my-nav .nav-link, .carousel-item__detail, .contacts p, .nav-lower a, a.button24, a.button24:hover, .fakul, .owl-nav  {color: #fff;}
#my-nav .nav-link:hover, .nav-lower a:hover{color: #d98943;}
.carousel-center{
    max-width: 100%;
    height: auto;
}

.carousel-center, .detail {margin-top: 3rem;}
#carouselExampleIndicators{
    max-width: 100%;
    height: auto; 
}
.carousel-control__arrow-next, .carousel-control__arrow-prev{
    width: 50px;
    height: 50px;
}
.carousel-indicators li {
    color: aqua;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.carousel-caption{
    background-color: rgba(11, 120, 184, 0.9);
    width: 1120px;
    margin-bottom: -20px;
    height: 160px;
    margin-left: -170px;
}
.fon-orange {
    background-image: url('img/Untitled-2.png');
    background-repeat: no-repeat;
    width: 380px;
    height: 800px;
    margin-top: -565px;
}
.data-event{
    padding-top: 470px;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.carousel-caption h2{
    text-align: left;
    padding-left: 10px;
    margin-top: -245px;
    margin-left: 370px;
    font-weight: 600;
}
.carousel-caption p{
    padding-left: 10px;
    margin-left: 345px;
    font-size: 20px;
    padding-right: 15px;
}
.contacts p{
    margin: 1.5px;
    margin-left: -25px;
}
.nav-lower a{
    float: right;
}
.nav-lower img{
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-left: 3px;
}
.bg-sibadi_blue {
    background-color: #0B78B8;
}
.color-sibadi_blue {
    color: #0B78B8;
}
footer{
    padding: 15px;  
}
.button-mr {
    margin: 3rem 0;
}
.name {
    text-align: center; 
    margin-top: 12px;
}
a.button24 {
    display: inline-block;
    padding: 1em 2em;
    border-radius: 10px;
    transition: 0.2s;
} 
a.button24:hover { background: linear-gradient(#00538a, #3a75c4) #00538a;}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%230B78B8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230B78B8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
@media screen and (max-width: 1200px){
    .nav-link{
        font-size: 12px;
    }
    .line-up{
        display: none;
    }
    .carousel-caption h2{
        margin-top: -250px;
        margin-left: 270px;
    }
    .carousel-caption p {
        margin-left: 245px;
    }
    .carousel-center{
        background-image: none;  
    }
    .carousel-caption{
        background-color: rgba(11, 120, 184, 0.9);
        width: 960px;
        margin-bottom: -20px;
        height: 160px;
        margin-left: -170px;
    }
    .fon-orange {
        background-image: url('img/Untitled-3.png');
        height: 795px;
        margin-top: -551px;
    }
    .data-event{
        padding-top: 490px;
        margin-left: -100px;
        font-size: 4.10rem;
    }
}
@media screen and (max-width: 992px){
    .navbar-right {
        flex-direction: column;
    }
    .navbar-right button {
        align-self: flex-end;
    }
    .nav-link{
        font-size: 18px;
    }
    .fakul{
        display: block;
        margin: 0 auto;
        font-size: 25px;
    }
    header .nav-item{
        text-align: center;
        margin-left: 0px;
    }
    .carousel-caption{
        width: 760px;
        height: 140px;
    }
    .fon-orange{
        background-image: url('img/Untitled-4.png');
        margin-top: -450px;
    }

    .data-event{
        padding-top: 400px;
        font-size: 3.25rem;
    }
    h3 {
        font-size: 4rem;
    }
    .carousel-caption h2{
        margin-top: -360px;
        margin-left: 240px;
    }
    .carousel-caption p {
        margin-left: 215px;
        font-size: 18px;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
    }
}
@media screen and (max-width: 767px){
    .carousel-caption h2{
        font-size: 18px;
    }
    .carousel-caption p{
        font-size: 14px;    
    } 
    .carousel-caption{
        width: 605px;
        height: 100px;
    }
    .data-event{
        padding-top: 400px;
        font-size: 2.80rem;
        margin-left: -45px;
    }
    .carousel-caption h2{
        margin-left: 240px;
    }
    .carousel-caption p{
        font-size: 12px;
        padding-right: 39px;
        margin-top: -5px;
    }
    .carousel-indicators li {
        margin-bottom: -15px;
    }
}
@media screen and (max-width: 570px){
    .fotoeff{
        height: auto;
    }
    .carousel-caption {
        width: 605px;
    }
}
@media screen and (max-width: 532px){
    .carousel-caption p{
        font-size: 12px;
        padding-right: 79px;
    }
}
@media screen and (max-width: 510px){
    .carousel-caption h2{
        font-size: 14px;
    }
    .carousel-caption p{
        font-size: 12px;    
    }
    .carousel-control__arrow-next, .carousel-control__arrow-prev{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 490px){
    .fon-orange{
       display: none;
    }
    .carousel-caption{
        height: 100%;
        background-color: rgba(11, 120, 184, 0.7); 
    }
    #carouselExampleIndicators{
        padding-left: 40px;
        padding-right: 40px;
    }
    .carousel-indicators li {
        width: 5px;
        height: 5px    
    }
    .carousel-caption h2{
        font-size: 14px;
        margin-top: 8px;
        margin-left: 135px;
    }
    .carousel-caption p{
        font-size: 14px;
        margin-left: 150px;
        padding-right: 200px;
        padding-left: 20px;    
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .carousel-logo-sibadi{
        display: inline-block;
        width: 150px;
        height: 50px;
        margin-left: -55px;
    }
        
}
@media screen and (max-width: 480px){
    .footer-right{position: absolute !important;}
    .footer-right{margin-top: 150px !important;}
    footer{
        height: 340px;
        padding: 2px;
        padding-top: 15px;
    }
    .nav-lower a{
        float: left;
    }
    .nav-lower img{
        margin-top: 20px;
        margin-left: 3px;
    }
    .w-100{
        height: 230px;
    }
}
@media screen and (max-width: 450px){
    .carousel-caption p{
        padding-right: 230px;
    }
}
@media screen and (max-width: 400px){
    .carousel-caption p{
        padding-right: 260px;
    }
    .carousel-caption h2{
        margin-left: 150px;
    }
    .carousel-logo-sibadi{
        margin-left: -105px;
    }
}
@media screen and (max-width: 330px){
    .carousel-caption p{
        padding-right: 300px;
        font-size: 14px;
        margin-left: 140px;
    }
    .carousel-caption h2{
        margin-left: 160px;
        font-size: 18px;
    }
    .carousel-logo-sibadi{
        margin-left: -155px;
    }
}
.gallary {
    background-image:  url('img/fonn.png');
    width: 100%;
    height: auto;  
    padding-top: 40px;
			}
.owl-nav{
    font-size: 50px;
    line-height: 1;
}
.fotoeff{       
    width: 300px;
    height: 160px;
    border: 7px solid #fff;
    cursor: pointer;

    } 
.popup {
	position: absolute;
	top:0;
	left:0;
    z-index: 100;
	text-align:center;
}

.popup_bg {
    background:rgba(0,0,0,0.4);
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.popup_img {
	position: fixed;
	z-index:2;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	max-height: 90%;
    pointer-events: none;
}